/*structure*/

.contactTable {  
  width: 90%;
  margin: 20px auto;
  padding: 50px;
  border: solid #6a808f 2px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background: url("desk.jpg") fixed;
  background-position: 38% 20%;
  background-size: cover;
  padding: 0; }

body:before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
  z-index: -1;
  background-color: #56a3ff;
  content: ''; }
.contactTable {
  background-color: white;
}

#title {
  margin-top: -5px;
}

.newRecord {
  margin-left: 42%;
}

.subrec {
  margin-left: 42%
}

.inputList {
  list-style: none;
}

.hdrBar {
  background: url("nbg.png");
}

.deleteButton {
  margin-left: 2em;
}

.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 12px;
  text-decoration: none;
  margin: 5px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}
