<div class="newRecord">
    <input type="staffName" placeholder="Staff Name" class="staffName">
    <input type="coName" placeholder="Company Name" class="coNameInput">
    <input type="coAddress" placeholder="Address" class="coAddr">
    <input type="coPhone" placeholder="Phone #" class="coPhone">
    <input type="Website" placeholder="Website" class="coWebsite">
    <input type="indType" placeholder="Industry Type" class="indType">

    <button {{action 'createRecord'}} class="submit">Submit</button>
</div>

