<div class="newRecord">
    <input type="staffName" placeholder="Staff Name" value=staffName class="staffName">
    <input type="coName" placeholder="Company Name" value=coName class="coNameInput">
    <input type="coAddress" placeholder="Address" value=coAddr class="coAddr">
    <input type="coPhone" placeholder="Phone #" value=coPhone class="coPhone">
    <input type="coWebsite" placeholder="Website" value=coWebsite class="coWebsite">
    <input type="indType" placeholder="Industry Type" value=indType class="indType">

    <button {{action 'createRecord'}} class="submit">Submit</button>
</div>

