<h2 id="title">CR(a)M: a hastily coded, lightweight bookkeeping solution</h2>

<div class="hdrMenu">
    {{#link-to 'reader'}}reader{{/link-to}}
    {{#link-to 'record'}}record{{/link-to}}
</div>

<div class="main">
{{outlet}}
</div>
