 <nav class="navbar navbar-default">   

    <h4 class="navbar-brand" id="title">CR(a)M: a lightweight bookkeeping solution</h4>

        <div class="collapse navbar-collapse hdrMenu">

            <ul class="nav navbar-nav mainNav">
                <li class="login">{{#link-to 'login'}}Login{{/link-to}}</li>
                <li>{{#link-to '/'}}Home{{/link-to}}</li>
                <!--<li>{{#link-to 'companies'}}Companies{{/link-to}}</li>-->
                <li>{{#link-to 'people'}}Create New Record{{/link-to}}</li>
            </ul>

        </div>
 </nav>
    
    <div class="main">

        {{outlet}}

    </div>
