<h2 id="title">CR(a)M: a lightweight bookkeeping solution</h2>

    <div class="hdrMenu">

        {{#link-to 'home'}}Home{{/link-to}}
        {{#link-to 'companies'}}Companies{{/link-to}}
        {{#link-to 'people'}}Contacts{{/link-to}}

    </div>

<div class="main">

    {{outlet}}

</div>
