<div class="coName">
    <p>Test</p>
</div>

<div class="address">
    <p>123 test ave</p>
</div>

<div class="phoneNo">
    <p>(555)555-5555</p>
</div>

<div class="personnelList">
    <ul>
        <li>employee 01</li>
        <li>employee 02</li>
        <li>employee 03</li>
        <li>employee 04</li>
        <li>employee 05</li>
    </ul>
</div>

{{outlet}}
